#model {
  width: 100%;
}

#hot {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#full {
  width: fit-content;
}

#new {
  font-size: 30px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

#section1 {
  text-align: center;
}

.card-img-top {
  width: 300px;
  height: 450px;
}

.font1 {
  font-weight: bold;
  margin-bottom: 10px;
}

#section1 img {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


#section2 {
  background-image: url(https://i.ibb.co/F6Mmsh7/bg5.png);
  background-size: cover;
  height: 91.2vh;
  margin-top: 40px;
  margin-bottom: 10px;
  
}

p {
  width: auto;
}

#card_register {
  background-color: #F5A847;
}

#btn_register {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  background-color: white;
  border-color: black;
  width: auto;
}

#btn_login {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  background-color: white;
  border-color: black;
  width: auto;

}

#content_login {
  min-height: 70vh;
}

@media (max-width: 900px){
  
  
}

@media (min-width: 900px){
  
  
}

.text-center {
margin-left: auto;
margin-right: auto;
}





